.header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #aaa;
}

.header__menu {
    font-family: Oswald;
    font-size: 1.7rem;
}
