.icon-mic {
    background-image: url(../images/services/icon-mic.png);
}

.icon-pc {
    background-image: url(../images/services/icon-pc.png);
}

.icon-pen {
    background-image: url(../images/services/icon-pen.png);
}
