.icon-mic {
    background-image: url(../images/services/icon-mic.png);
}

.icon-pc {
    background-image: url(../images/services/icon-pc.png);
}

.icon-pen {
    background-image: url(../images/services/icon-pen.png);
}

.icon-facebook {
    background-image: url("../images/icons/facebook.png");
}

.icon-google {
    background-image: url("../images/icons/google.png");
}

.icon-vimeo {
    background-image: url("../images/icons/vimeo.png");
}

.icon-dribble {
    background-image: url("../images/icons/dribble.png");
}

.icon-youtube {
    background-image: url("../images/icons/youtube.png");
}
